h1 {text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;}
    div {text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: inline-block;}
    p {text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    }
    span{color: white;}
    body {
        background-image: url("https://media1.tenor.com/m/HJyepHmwvuAAAAAC/waiting-boy.gif");
        background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
       }
       div {display: inline-block}
       @keyframes sway_1  {
           0% { transform: rotate(18deg); }
           50% { transform: rotate(-18deg); }
           100% { transform: rotate(18deg); }
       }
       
       .d_1 {
         animation: sway 2.4s infinite;
         animation-timing-function: ease-in-out;
         -webkit-transform-origin: top;
         -moz-transform-origin: top;
         transform-origin: top;
         font-size: 4em;
           border-style: solid;
           border-color: white;
           border-radius: 50%;
           position: fixed;
         width: 65px;
         height: 65px;
         display: block;
         margin-left: 43%;
       }
       
      
       
       @keyframes sway  {
           0% { transform: rotate(8deg); }
           50% { transform: rotate(-8deg); }
           100% { transform: rotate(8deg); }
       }
       
       .d_2 {
         animation: sway 2.4s infinite;
         animation-timing-function: ease-in-out;
         -webkit-transform-origin: top;
         -moz-transform-origin: top;
         transform-origin: top;
         font-size: 4em;
           border-style: solid;
           border-color: white;
           border-radius: 50%;
           position: fixed;
         width: 65px;
         height: 65px;
         display: block;
         margin-left: 47%;
       }
    
    
          
       @keyframes sway  {
        0% { transform: rotate(8deg); }
        50% { transform: rotate(-8deg); }
        100% { transform: rotate(8deg); }
    }
    
    .d_3 {
      animation: sway 2.4s infinite;
      animation-timing-function: ease-in-out;
      -webkit-transform-origin: top;
      -moz-transform-origin: top;
      transform-origin: top;
      font-size: 4em;
           border-style: solid;
           border-color: white;
           border-radius: 50%;
           position: fixed;
         width: 65px;
         height: 65px;
         display: block;
         margin-left: 51%;
    }